<template>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-9 text-left">
        <a href="#" class="logo">MINE SWEEPER</a>
      </div>
      <div class="col-3 text-right">
        <Score :score="$store.state.score" />
      </div>
    </div>
    <Gamestart :selectedGrid="$store.state.selectedGrid" :userName="$store.state.userName" :gameStatus="$store.state.gameStatus"/>
    <div class="row">
      <div class="col-8">
        <Mines :mines="$store.state.mines" :selectedGrid="$store.state.selectedGrid" :gameStatus="$store.state.gameStatus" :isPlay="$store.state.isPlay" />
      </div>
      <div class="col-4"></div>
    </div>
    
    <Modal :score="$store.state.score" :selectedGrid="$store.state.selectedGrid"/>
    
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue';
import Score from '@/components/Score';
import Gamestart from '@/components/Gamestart';
import Mines from '@/components/Mines';
import Modal from '@/components/Modal';

export default {
  name: 'Home',
  components: {
    HelloWorld,
    Score,
    Gamestart,
    Mines,
    Modal
  }
}
</script>

<style>
  .logo {
    font-size: 50px;
    font-weight: bold;
    color: #000;
  }
</style>