<template>
    <div class="row mt-2">
            <div class="col-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input type="text" class="form-control" v-model="userName" @change="changeUser()" placeholder="Username" aria-label="Username">
                </div>
            </div>
            <div class="col-5">
                 <select class="custom-select" v-model="grid" @change="changeGrid()">
                    <option value="5">5x5</option>
                    <option value="6">6x6</option>
                    <option value="7">7x7</option>
                    <option value="8">8x8</option>
                </select>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary btn-block" @click="startGame()">Start</button>
            </div>
        </div>
</template>

<script>
    export default {
        props: ["selectedGrid", "userName", "gameStatus"],
        data() {
            return {
                grid : this.selectedGrid
            }
        },
        methods: {
            changeGrid(){
                this.grid = this.grid;
                this.$store.commit("changeGrid", this.grid);
            },
            startGame() {
                if(!this.userName) {
                    alert('please check username!');
                    return false;
                }
                this.$store.commit("startGame", true);
                this.$store.commit('createMines', this.grid);
            },
            changeUser(){
                this.$store.state.userName = this.userName;
            }
        }
    };
</script>