<template>
    <div v-if="gameStatus">
        <ul>
            <li v-for="i in mines"  :class="['mines--'+selectedGrid, {'disable':i.isSelected} ]" @click="checkMined(i)">
                <span :class="{'bg-success disable': i.isSelected && !i.isMined, 'bg-danger': i.isMined && i.isSelected}"></span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ["mines", "selectedGrid", "gameStatus", "isPlay"],
        methods: {
            checkMined(item) {
                if(this.isPlay){
                    item.isSelected=true;
                }
                
                if(item.isMined) {
                    this.$store.commit('endGame');
                    document.querySelector('body').classList.add('gameover');
                    return false;
                }

                this.$store.state.score += 5;
            }
        }
    };
</script>

<style>
    * {
        box-sizing: border-box;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        margin: 0;
    }

    li {
        padding:10px;
    }
    li.mines--5 {
        width: 20%;
    }
    li.mines--6 {
        width: 16.66%;
    }
    li.mines--7 {
        width: 14.28%;
    }
    li.mines--8 {
        width: 12.5%;
    }

    li span{
        width: 70px;
        height: 70px;
        background: gray;
        border-radius: 10px;
        display:flex;
        align-items:center;
        justify-content: center;
    }

    li.disable {
        pointer-events: none;
    }

</style>