<template>
    <div class="mymodal card" id="mymodal">
        <div class="card-header">GAME OVER</div>
        <div class="card-body">
            <div class="mb-2">Your Score : {{ score }} </div>
            <button class="btn btn-sm btn-warning mr-2" @click="again()">Try Again</button>
            <button class="btn btn-sm btn-success" @click="newgame()">New Game</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["score", "selectedGrid"],
        methods: {
            again() {
                this.$store.commit("startGame", true);
                this.$store.commit('createMines', this.selectedGrid);
                this.$store.state.score = 0;
                document.querySelector('body').classList.remove('gameover');
            },
            newgame() {
                this.$store.commit("startGame", false);
                document.querySelector('body').classList.remove('gameover');
                this.$store.state.score = 0;
                this.$store.state.userName = '';
            }
        }
    };
</script>

<style>
    .mymodal {
        max-width: 400px;
        position: fixed;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display:none;
    }
    body.gameover div {
        pointer-events: none
    }
    body.gameover .mymodal {
        display: block;
    }

    body.gameover .mymodal * {
        pointer-events: auto;
    }
</style>