<template>
    <div class="d-flex justify-content-between p-2 rounded-sm bg-light">
        <span>Score</span>
        <span class="font-weight-bold">{{score}}</span>
    </div>
</template>

<script>
    export default {
        props: ["score"],
        
    };
</script>

<style>

</style>